{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Workout{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="workout">Workout</label>
    <input name="workout" id="workout" value="{{ request.form['workout'] }}" required>

    <label for="date">Date</label>
    <input type="date" name="date" id="date" value="{{ request.form['date'] }}" required>

    <label for="sets">Sets</label>
    <input type="number" name="sets" value="{{ request.form['sets'] }}" required>

    <label for="reps">Reps</label>
    <input type="number" name="reps" id="reps" value="{{ request.form['reps'] }}" required>

    <label for="weight">Weight</label>
    <input type="number" name="weight" id="weight" value="{{ request.form['weight'] }}" required>

    <label for="duration">Duration (minutes)</label>
    <input type="number" name="duration" id="duration" value="{{ request.form['duration'] }}" required>

    <input type="submit" value="Save">
  </form>
{% endblock %}
