{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Workouts{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['train'] }}</h1>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="workout">{{ post['workout'] }}</p>
      <p class="date">{{ post['date'] }}</p>
      <p class="sets">{{ post['sets'] }}</p>
      <p class="reps">{{ post['reps'] }}</p>
      <p class="weight">{{ post['weight'] }}</p>
      <p class="duration">{{ post['duration'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
